

body{
    background-color: rgb(120, 168, 212);
    margin-left:20px ;
}



#img1{
    border-radius: 7%;
    float: left;
    margin-right:5% ;
}





#pill{
    margin-top: 1.3in;
    width:800px;
    height: 330px;
    background-color:rgb(198, 217, 236) ;
    border: 1px solid rgb(198, 217, 236);
    border-radius: 25px;
    display: flow-root;
}


/* #trans{
    width: 20px;
    height: 20px;
    border: 40px solid red;
} */

/* 
button{
    margin-left: 10px;
    font-size: 25px;
    border-radius: 25px;
    background-color: rgb(129, 168, 206);
    color: aliceblue;
} */

#plus{
    border-color: rgb(198, 217, 236);
    font-size: 30px;
    width:45px;
    height:45px;
    border-radius:40%;
    background-color: rgb(198, 217, 236);
    color: black;
    margin-left: 15%;
}

#wallet{
    
}

.list{
    margin-left: 20%;
}

/* 
.bitcoin{
    margin-right: 0.9%;
}
.litecoin{
    margin-right: 5%;
}
.ripple{
    margin-right: 0.1%;
} */

mark {
    padding: 0.9em;
    background-color: rgb(59, 131, 203);
    color: black;
    border: 1px solid rgb(59, 131, 203);
    border-radius: 12px;
  }

#para{
    width: 60%;
    height: 30%;
    border: 2px solid rgb(171, 191, 209);
    border-radius: 20px;
    background-color: rgb(171, 191, 209);
}

.learn{
    border-color: rgb(59, 131, 203);
    background-color: rgb(59, 131, 203);
    margin-left:10px;
    margin-bottom:20px;
    border-radius: 20px;
}
.Load_btn{
    width: 20px;
}
